<div class="form">
    
    <div class="content">
        <h1 class="pi pi-users">We!!!</h1>
        <p>The hotel review system is your go-to platform for sharing and exploring hotel experiences. 
            Our user-friendly interface allows seamless navigation through diverse reviews, 
            aiding travelers in making informed choices. We're committed to 
            fostering an open community that values authentic feedback, enhancing hotel experiences globally.
        </p>
    </div>

    <div class="img">
        <img src="/assets/images/about3.png" alt="about">
    </div>

</div>


