.form{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    letter-spacing: 2px;
    .content{
        width: 440px;
        height: 250px;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 20px;
        background: linear-gradient(135deg,rgba(135, 133, 133, 0.1), rgba(255,255,255,0));
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(200px);   
         transition: transform 0.5s ease;

         h1{
            margin: 5px;
            font-size: 30px;
         }

    }
    .content:hover{
        transform: scale(1.1);
    }
    .img img{   
        width: 300px;
        height: 250px;
        transition: transform 0.5s ease;
        background-color: transparent;  
         transition: transform 0.5s ease;
    }
    .img img:hover{
        transform: scale(1.1);
    }

}
