// .home-component {
//     ion-content {
//       --background: transparent;
//     // background-image: url("src/assets/images/background.jpg") no-repeat center center fixed;
//       background-size: cover;
//     }
//   }
  
  .custom-background {
    --background: transparent url('/assets/images/background.jpg') no-repeat center center / cover fixed;
    overflow: hidden;
  }

  ion-title{
    width: 100%;
}