:host ::ng-deep .card {
    position: relative;
    font-size: 14px;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(200px);
    margin: 50px auto;
    .p-sortable-column {
      .p-sortable-column-icon {
        color: black;        
      }
    }
  }

  :host ::ng-deep td {
    cursor: pointer;
    text-align: center;
    color: black;
    span{
      white-space: nowrap;
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
}



  :host ::ng-deep tr,th{
    text-align: center;
    padding: 20px;
    color: black;
    background-color: transparent;
    border-bottom: 2px solid black;
    
  }
  
  :host ::ng-deep tr:hover {
    background-color: pink;
  }

  .heading{
    h3{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
  }