*{
    color: white;
}


    h1{
        margin-top: 200px;
        font-size: 40px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.5s ease;
    }
    


h1:hover{
    transform: scale(1.1);
}