*{
    color: rgb(0, 0, 0);
}

.ng-header p{
    letter-spacing: 1.5px;
    margin:14% 300px 0 400px;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

.native{
    display: inline-flex;
    justify-content: space-evenly;
    margin: 45px 0 0 225px;

}

.native button{
    color: white;
    border-color: transparent;
    background-color: transparent;
    transition:transform 0.5s ease;
    letter-spacing: 1.5px;
}

.native button:hover{
    transform: scale(1.3);
}

.reviewCard{
    display:inline-flex;
    justify-content: center;
    margin:50px 0 0 140px;
    transition: transform 0.5s ease;
    // animation: scroll 6s linear infinite;
}

.reviewCard:hover{
    transform: scale(1.1);
    // animation-play-state: paused;
}


// @keyframes scroll{
//     0%{
//         transform: translateX(100px);
//     }
    // 50%{
    //     transform: translateX(calc(10px * 3));
    // }
    // 75%{
    //     transform: translateX(250px);
    // }
    // 100%{
    //     transform: translateX(calc(-250px * 3));
    // }
// }

p-card{
    width: 250px;
    transition: transform 0.5s ease;
    img{
        height: 150px;
    }
}

  
