
<div class="main">
    <div class="ng-header">
        <p>{{header}}</p>
    </div>
    <!-- <div class="reviewCard"  *ngFor="let user of reviewDataArray" >
      <div class="container" >
        <p-card header="{{user.hotelname}}" subheader="{{user.hotelname}}"  >
          
          <ng-template pTemplate="header">
            <img src="/assets/images/ok.png" alt="img">
          </ng-template>

          <ng-template pTemplate="content">
            <div class="pi pi-star-fill">
              Rating: {{ user.rating }}
              <br><br>
              Content: {{ user.suggestion}}
            </div>
          </ng-template>
      </p-card>
      </div>
        
    </div>
       -->
    <!-- <div class="reviewCard"  *ngFor="let name of reviewArray; let i = index" >
      <div class="container" *ngIf="!maduraiClick">
        <p-card header="{{name.hotelname}}" subheader="{{name}}" *ngIf="ratingsArray[i] && contentsArray[i]" >
          
          <ng-template pTemplate="header">
            <img src="/assets/images/review 2.jpg" alt="img">
          </ng-template>

          <ng-template pTemplate="content">
            <div class="pi pi-star-fill">
              Rating: {{ ratingsArray[i] }}
              <br>
              Content: {{ contentsArray[i] }}
            </div>
          </ng-template>
      </p-card>
      </div>
        
    </div> -->  
</div>