.sort button{
    margin-top: 20px;
    margin-left: 80%;
    background-color: transparent;
    border-color: gray;
    transition: transform 0.5s ease;
}

.sort button:hover{
    transform: scale(1.1);
}

.citiesCard{
    display:inline-flex;
    margin:50px 0 0 130px;
    transition: transform 0.5s ease;
    button{
        color: black;
        border-color: gray;
        background-color: transparent;
        transition:transform 0.5s ease;
        letter-spacing: 1.5px;
    }
}

.citiesCard:hover{
    transform: scale(1.1);
}

p-card{
    width: 250px;
    transition: transform 0.5s ease;
    img{
        height: 150px;
    }
}
