#bgVideo {
    position:fixed;
    top: -100px;
    left: 0;
    max-width: 220vh;
    z-index: -1;
  }
  
.logo {
    display: inline-flex;
    align-items: flex-start;
    img {
        margin-left:30px;
        margin-top: 30px;
        width: 70px;
        height: 70px;
        cursor:pointer;
        border-radius: 50%;
        transition: transform 0.5s ease;

      }
  }  

  .logo img:hover{
    transform: scale(1.1);
  }


.navMenu {
    margin: -50px 15% 0 0;
    list-style: none;
}
.navMenu li{
    color: white;
    margin-left:90px ;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
    letter-spacing: 1.5px;
    transition: transform 0.5s ease;
}

.navMenu li:hover{
    transform: scale(1.2);
    color: rgb(0, 0, 0);
    background-color: white;
}
  

.socialLogo{
    color: white;
    margin: -45px 40px 0 80%;
}

.socialLogo li{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.socialLogo li:hover{
    transform: scale(1.3);
}

.music{
    margin-top: 14%;
}

