    <div class="form align-items-center inline-flex flex-column">
        <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" placeholder="User Name" pInputText [(ngModel)]="username" id="">
        </span>
        <span class="p-input-icon-left">
            <i class="pi pi-verified"></i>
            <input type="password" placeholder="Password" [(ngModel)]="password" pInputText name="" id="">
        </span>
        <button pButton (window:keydown.enter)="login()" (click)="login()">Login</button>
    </div>
