
.form{
    border: 0.5px solid rgb(177, 174, 174);
    border-radius: 20px;
    padding: 50px;
    margin:70px 0 0 500px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(200px);
    input{
        margin-top: 20px;
        background-color: transparent;
        border-color: white;
        font-weight: bold;
        color: white;
    }
    input::placeholder{
        color: white;
    }
}

::ng-deep .p-dropdown {
    margin-top: 20px;
    background-color: transparent;
    border-color: white;
    font-weight: bold;
    width: 200px;
    color: white;

}

::ng-deep .p-dropdown .p-placeholder {
    color: white; 
  }


.form span,button{
    letter-spacing: 2px;
    margin-top: 30px;
}

button{
    margin:40px 0 -10px 0;
    border-color: white;
    background-color: transparent;
    transition : transform 0.5s ease;
}

button:hover{
    transform: scale(1.3);
}